.item-el {
    display: flex;
    flex-direction:column;
}
.footer-img {
    position: unset;
    margin-left: 0;
}
.car-style {
    margin-left: 43%;
} 
#carousel {
    height: 35vw !important;
    margin-left: 37%;
    margin-top: 8%;
} 
#footer {
    display: flex;
    align-items: center;
}
.car-btn {
    width: 15%;
    background-color: transparent;
    box-shadow: unset;
    display: flex;
    justify-content: center;
}
.car-btn:hover{
    background-color: gold;
}
.name-info {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.active {
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.79);
}

.active .item-el {
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.79);;
}
.crsr:hover {
    cursor: pointer;
}