.item-el {
    display: flex;
    flex-direction:column;
}
.footer-img {
    position: unset;
    margin-left: 0;
}
#carousel {
    height: 35vw !important;
    margin-left: 2.5%;
}
#footer {
    display: flex;
    align-items: center;
}
.car-btn {
    width: 15%;
    background-color: transparent;
    box-shadow: unset;
    display: flex;
    justify-content: center;
}
.car-btn:hover{
    background-color: gold;
}
.name-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
}