.navbar {
    display: flex;
    justify-content: center;
    color: gold;
    background-color: black;
    opacity: 80%;
    padding: 20px;
    font-size: 70px;
    font-family: fantasy, sans-serif;
    border: 5px solid red;
    margin-bottom: 40px;
}

h2 {
    font-size: 40px;
    color: gold;
    margin-left: 40px;
    font-family: fantasy;
}

#column-left {
    display: flex;
    flex-direction: row;
    border: 5px red solid;
    height: 850px;    
    background-color: black;
    opacity: 80%;
}

button {   
    color: black;
    border: 1px solid rgb(0, 0, 0);   
    font-family: fantasy, sans-serif;
    font-size: 20px;
}

input {
    display: flex;
    width: 300px;
    height: 50px;
    border: 1px solid white;
    margin-left: 30px;
    margin-top: 10px;
}

 .column-search {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 1000px; }  

#column-classes {   
    height: 1000px;
    margin-right: 200px;
}

.column-center {
    display: flex;
    flex-direction: column;
    border-style: solid;
    width: 75%;
    border: solid 2px;
    color: red;
}

.spellContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#column-right {
    display: flex;
    position: absolute;
    height: 850px;
    right: 0px;
    border: 5px red solid;
    background-color: black;
    opacity: 80%;
}

body {
    background: url('../images/dragon.jpg');
    background-size: cover;
    overflow-x: hidden;
}

#center-box {
    height: 850px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    border: 5px solid red;
    opacity: 80%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-size: 20px;
    font-family: fantasy, sans-serif;
    color: white;
    border: 2px solid red;
    padding-bottom: 30px;
    padding-top: 30px;
}

img {
    display: flex;
    justify-content: start;
    width: 250px;
    position: absolute;
    left: 0;
    margin-left: 30px;
}

.footer-image {
    display: flex;
    justify-content: end;
    align-items: end;
    width: 100px;
    margin-top: -30px;
}

.nav-items {
    display: flex;
    align-items: end;
    position: absolute;
    right: 0;       
}

li {
    font-size: 25px;
    display: inline;
    display: block;
    color: white;
    text-align: end;
    text-decoration: none;
    margin-right: 20px;
    padding-left: 40px;
}

li a:hover {
    background-color: rgb(156, 2, 2);
}

#search {
    align-items: center;
}

#classes-button {
    display: flex;
    position: relative;
    flex-direction: column;
    padding-top: 80px;
    padding-left: 50px;
}

#class-info {
    padding: 1%;
    overflow-y: scroll;    
}

.btn-margin {
    justify-content: space-around;
    display: flex;    
    height: 30px;
    width: 150px;
    margin-top: 10px;
    padding-top: 5px;
    border: 2px solid white;
    border-radius: 2px;
}

#card-style {
    max-height: 450px;
    overflow-y: scroll;  
}

#results {
    display: flex;
    flex-direction: column;
    margin-top: 40px;   
}
label {
    font-size: 30px;
    color: rgb(227, 193, 2);
    font-family: fantasy, sans-serif;
}

#search-name {
    margin-left: 10%;
}